{% extends "index.html" %}
{% block content %}
    <br>
    <div class="container" align="center">
        <!--Google map-->
        <div class="container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5958.625834389314!2d44.82964268845108!3d41.692180089875094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40440c54b7fe64df%3A0xac1fe1fff2de6146!2sUnderground%20Printing%20House%20Museum!5e0!3m2!1sen!2sus!4v1601115249237!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

        </div>
<!--Google Maps-->
    </div>

    <br>


        <div class="container" >
        <div class="jumbotron" >
<h2>Contact Us:</h2>
     <form action="{{url_for('success')}}">
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationDefault01">First name</label>
      <input name="first_name" type="text" class="form-control" id="validationDefault01" value="" required>
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationDefault02">Last name</label>
      <input name="last_name" type="text" class="form-control" id="validationDefault02" value="" required>
    </div>

  </div>

  <div class="form-row">

    <div class="col-md-6 ">
    <label for="exampleInputEmail1">Email address</label>
    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>


  </div>
         <div class="form-group">
    <label for="exampleFormControlTextarea1">Text Area</label>
    <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
      <label class="form-check-label" for="invalidCheck2">
        Agree to terms and conditions
      </label>
    </div>
  </div>

        <input type="submit" value="რეგისტრაცია" class="btn btn-dark">

</form>
</div>
    <br>
    </div>





{% endblock %}
