/*body{*/
/*    position: relative;*/
/*    top: 70px;*/
/*}*/

header{
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #f8f9fa !important;
}




.navbar {
    padding: 0 50px !important;
    width: 100%;
}

a.nav-link{
    color: #535a60 !important;
    outline: none;
}

.nav-item:hover{
    border-radius: 100px;
    background-color: rgba(83,90,96,.1);
}

.form-inline{
    margin: 0px 20px !important;
}

.form-inline input{
    padding: 0;
    padding-left: 5px;
}

.form-inline, .form-inline input{
    flex: 1;
}

.user__buttons button{
    margin: 0 5px;
}


