{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1>The Basics of Effective Essay Writing
by Becton Loveless</h1>
    <p>


As you progress through school, you'll be required to write essays. And the farther along in school you get, the more complex and demanding
        the essays will become.

        </p>

   <p>
       It's important that you learn early on how to write effective essays that communicate clearly and accomplish specific objectives.
An essay is a written composition where you express a specific idea and then support it with facts, statements, analysis and explanations.
        The basic format for an essay is known as the five paragraph essay – but an essay may have as many paragraphs as needed.
   </p>

    <p>
        A five paragraph essay contains five paragraphs. However, the essay itself consists of three sections: an introduction,
        a body and a conclusion.
    </p>



<h1>Organize Your Ideas Using a Diagram or Outline</h1>
    <p>
        Some students get scared to start writing. They want to make sure they have all their thoughts organized in their head before they put anything down on paper. Creating a diagram or outline allows you to put pen to paper and start organizing your ideas. Don't worry or agonize over organization at this point, just create a moderately organized format for your information.

    </p>
    Whether you use a diagram or outline doesn't really matter. Some people prefer and work better with the flowing structure of a diagram. Others like the rigid and logical structure of an outline. Don't fret, once you get started, you can always change formats if the format you chose isn't working out for you.

    <h4>
        Diagram
    </h4>

    <p>
The following are useful steps for developing a diagram to organize ideas for your essay.

    </p>







    <ul>
        <li>
            Get started by drawing a circle in the middle of a paper just big enough to write in.

        </li>
         <li>
            Inside your circle, write your essay topic.

        </li>
         <li>
            Now draw three or four lines out from your circle.

        </li>
         <li>
            At the end of each of lines, draw another circle just slightly smaller than the circle in the middle of the page.

        </li>
         <li>
In each smaller circle, write a main idea about your topic, or point you want to make. If this is persuasive (argumentative) essay, then write down your arguments. If the object of the essay is to explain a process (expository), then write down a step in each circle. If your essay is intended to be informative or explain (analytical), write the major categories into which information can be divided.

        </li>

        <li>
Now draw three more lines out from each circle containing a main idea.

        </li>
        <li>
At the end of each of these lines, draw another circle.

        </li>
        <li>
Finally, in each of these circles write down facts or information that help support the main idea.

        </li>
    </ul>
</div>
{% endblock %}