{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <form method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.email.label(class = 'form-group') }}
        {{ form.email(class = 'form-control') }}
    </div>
    <div class="form-group">
        {{ form.password.label(class = 'form-group') }}
        {{ form.password(class = 'form-control') }}
    </div>
    <div class="form-group">
        {{ form.submit(class = 'btn btn-primary') }}
    </div>
    </form>
    </div>




{% endblock %}