#head{
   margin-left:550px;
   margin-bottom:40px;

}

#o{
   margin-left:450px;
   margin-bottom:20px;
   width:400px;
   height:50px;
   
}


#f{
   margin-left:450px;
   margin-bottom:20px;
   margin-top:20px;

}

#button {
      margin-top:10px;
      margin-left:450px;
      font-size:20px;
      width:400px;
      height:30px;

   


}
