{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam autem consequatur dignissimos, dolorem facere, facilis fugit illum incidunt inventore labore laborum magni mollitia, necessitatibus nostrum quia similique veritatis voluptas.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores blanditiis delectus eius esse fuga illum impedit in labore maiores modi molestiae non obcaecati quas quibusdam, ratione reiciendis repellendus tempora.
    </div>
    <div class="jumbotron">
    <h1 align="center">Find Your book</h1>
        <br>
        <img  width="100%" src="{{ url_for('static',filename='shelves.jpg') }}" alt="">
    </div>


{% endblock %}