<!DOCTYPE html>
<html>
   <head>
       <title></title>
       <link rel="stylesheet" href="{{ url_for('static',filename="styles/test.css" )}}">

   </head>
   
   
   <body>
      <form>
          <h1 id="fun">DRAG QUEEN FORM</h1>

          <div class="boxy"> 
             <div>
                <label for="d">your birthday</label>
             </div>
    	        <input class="active" type="text" name="date"  id="d" placeholder="mm/dd/yyyy">
    	    </div>
    	    <div>
    	      <label>orientation</label>
    	    </div>
          <div class="boxy">
               <select>

            		   <option>
            		          lesbian
            		   </option>
                              gay
            		   <option>
            		         transgender
            		   </option>
                        <option>
            		         else
            		   </option>
    	       </select>
           </div>
           <div class="boxy">
             <div>
                <label>talk about yourself</label>
             </div> 
             <textarea></textarea>
           </div>
           <div class="boxy">
               <div>
    	         <label for="name">your name</label>
    	       </div>
               <input class="active"type="text" name="name"  id="name">
           </div>
           <div class="boxy">
               <div>
                 <label class="active" for="drag">drag name</label>
               </div>
               <input class="active"type="text" name="drag"  id="drag">
           </div>
           <div class="boxy">
              <div>
               <label for="email">your address</label>
              <div>
    	      <input class="active" type="email" name="email" id="email">
           <div>
           <div>
             <label id="interest">Choose your interest</label>
           </div>
           <div class="boxy">
             <input type="checkbox" name="checkbox" id="checkbox1">

             <label for="checkbox1">drawing</label>

    		    	
           </div>
           <div class="boxy">
              <input type="checkbox" name="checkbox" id="checkbox2">
    		    	<label for="checkbox2">singing</label>

           </div>
           <div class="boxy">
              <input type="checkbox" name="checkbox" id="checkbox3">
    		    	<label for="checkbox3">perfoming</label>

           </div>
           <div class="boxy">
              <input type="checkbox" name="checkbox" id="checkbox4">
    		    	<label for="checkbox4">acting</label>

           </div>
           <div>
           </div>
           <div class="boxy">
              <div>
    	       <label for="number">Set time(for interview)</label>
    	      </div>
    	       <input class="active"type="number" name="number" id="number">
    		    	
          </div>
          <div class="boxy">
             <div>
    	        <label for="number1">Contact number</label>
    	     </div>
    	     <input class="active" type="number" name="num" id="number1">
    		    	
          </div>


          <button class="boxy">send</button>
   
      </form>
   </body>

</html>

















</html>
