{% extends "base.html" %}
{% block content %}
    <br>

    <div class="jumbotron" >
        <h1 align="center">ABOUT US</h1>
    <p>
        <div class="container" >
                    US Ecology is a leading provider of environmental services to commercial and government entities. We address the complex waste management and response needs of our customers, offering treatment, disposal and recycling of hazardous, nonhazardous and radioactive waste, leading emergency response and standby services and a wide range of complementary field and industrial services. Our focus on safety, environmental compliance and best-in-class customer service enables us to effectively meet the needs of our customers and to build long lasting relationships. With over 65 years of experience serving as an industry leader, we exist to provide safe and compliant solutions each and every day.  We effectively manage the inherent environmental risks of your business with a commitment to continuous improvement of processes and operations.

        </div>

    </p>
    </div>

    <div class="jumbotron">
    <h1>ENVIRONMENTAL COMPLIANCE</h1>

US Ecology is closely regulated by varying federal and state agencies. We welcome thoroughness, and strive to exceed the confidence all parties have in our processes and facilities in providing high levels of environmental protection.  US Ecology’s highest priority is ensuring its commitment to protecting human health and the environmental is second to none.

We employ a comprehensive, company-wide management system that meets or exceeds the requirements of the ISO 14001 at many of our facilities. This establishes documented policies and procedures for our environmental compliance programs that all employees and operations follow. The management system is an integral part of each employee’s work functions and day-to-day operations. As part of the management system, US Ecology establishes measurable environmental, goals. These goals are evaluated using performance metrics to identify trends and continuously improve programs.

Facility environmental compliance programs are audited internally on a regular basis to promptly identify and correct program deficiencies.  Consistent with our core values, we conduct our operations in a manner protective of human health and the environment. US Ecology's Environmental Commitment promotes a culture where regulatory compliance is the minimum level of acceptance of environmental performance. Facility operating permits and compliance records are posted on our site in the Resources section.
    </div>




{% endblock %}