{% extends "base.html" %}

{% block content %}
<body class="Text-center">
<div class="container">
<h1>მადლობა თქვენი შეკვეთა მიღებულია</h1>
<p> თქვენ შეუკვეთეთ: </p>
    <code>
    <ul>
        <li> სახელი: {{session['username']}}</li>
        <li> სტატუსი: {{session['type']}} </li>
        <li> დამატებითი პროდუქტები: {{session['additional']}}</li>
        <li> ხახვისადმი სიყავრეული: {{session['onion']}}</li>
        <li> ფასი: {{session['price']}} </li>

    </ul></code> </div> </body>

{% endblock %}