{% extends "base.html" %}
{% block content %}

<div class="container" style="margin-top: 30px;padding: 30px; background-color: rgb(250, 252, 252);">
    <h1 class="add" style="margin-bottom: 20px;">მომხმარებლის დამატება</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label(class_='active') }} 
            <div>{{ form.name(class_='form-control') }}</div>
            {{ form.idNumber.label(class_='active') }} 
            <div>{{ form.idNumber(class_='form-control') }}</div>
            {{ form.book_id.label(class_='active') }} 
            <div>{{ form.book_id(class_='form-control') }}</div>
        </br>
            {{ form.submit(class_='btn btn-secondary') }}
        </form>
    </div>
{% endblock %}