{% extends "base.html" %}
{% block content %}
<div class="container">
    {% if pet == "craig" %}
        <div class="jumbotron">
            <div align="center">
                <h1>კრეგი</h1>
                <img src="../static/craig.jpg" style="border: solid" width="400" height="550">
            </div>
            <h4>ჰობი:</h4>
            <ul>
                <li>უმოძრაოდ წოლა</li>
                <li>ახალგამოცვლილ წყალში მოსაქმება</li>
                <li>ხელსაქმეც იქნებოდა ხელები რომ ჰქონოდა</li>
            </ul>
            <h4>განსაკუთრებული ნიჭი:</h4>
            <p>კარგად ეხერხება ემოციების კონტროლი</p>
            <h4>აღსანიშნავია რომ:</h4>
            <p>თაგვებს როდესაც ახრჩობს ხოლმე, მერე ვეღარ პოულობს, იმისდა მიუხედავად, რომ ზედვეა შემოხვეული. ვერ იტანს ფაშისტებს</p>
        </div>

    {% elif pet == "snails"%}
        <div class="jumbotron">
            <div align="center">
                <h1>ლოკოკინები</h1>
                <img src="../static/Usnail_bolt.jpg" style="border: solid" width="430" height="550">
                <p>უსნეილ ბოლტი</p>
                <img src="../static/Raava_Vaatu.jpg" style="border: solid" width="650" height="400">
                <p>რაავა და ვაატუ (მეგობრებისთვის ვატო)</p>
                <img src="../static/kiddo.jpg" style="border: solid" width="400" height="600">
                <p>რაავას და ვაატუს ერთ-ერთი ბავშვი</p>
            </div>
            <h4>ჰობი:</h4>
            <ul>
                <li>გასწრობანა</li>
                <li>ბანაობა</li>
                <li>გენდერული თანასწორობა</li>
            </ul>
            <h4>განსაკუთრებული ნიჭი:</h4>
            <p>ყველგან შეუძლიათ იგრძნონ თავი როგორც საკუთარ სახლში. ასევე უსნეილ ბოლტი ჩქარი ლოკოკინაა</p>
            <h4>აღსანიშნავია რომ:</h4>
            <p>ჰერმაფროდიტები არიან და აქ რამე სექსისტური ხუმრობა უნდა ყოფილიყო, მაგრამ ვერაფერი მომაფიქრდა</p>
        </div>

    {% elif pet == "richard"%}
        <div class="jumbotron">
            <div align="center">
                <h1>რიჩარდი</h1>
                <img src="../static/Richard_2.jpeg" width="400" height="600" style="border: solid">
            </div>
            <h4>ჰობი:</h4>
            <ul>
                <li>ბურთის დევნა</li>
                <li>ლაზერის დევნა</li>
                <li>ნებისმიერი მოძრავი ობიექტის დევნა</li>
                <li>დევნა</li>
            </ul>
            <h4>განსაკუთრებული ნიჭი:</h4>
            <p>მთელი ზაფხული იჭერს და ჭამს ფუთკრებს ისე, რომ მას არ კბენენ</p>
            <h4>აღსანიშნავია რომ:</h4>
            <p>მისი გარეგნული სილამაზე უკუპროპორციულია მისი გონებრივი შესაძლებლობებისა</p>
        </div>

    {% elif pet == "rezo"%}
        <div class="jumbotron">
            <div align="center">
                <h1>რეზო სინამდვილეში საჭმელი იყო :(</h1>
                <img src="../static/rip_rezo.jpg" style="border: solid">
            </div>
            <h4>ჰობი:</h4>
            <ul>
                <li>სიცოცხლე</li>
            </ul>
            <h4>განსაკუთრებული ნიჭი:</h4>
            <p>ნებისმიერ სიტუაციაში პოზიტივის შენარჩუნება</p>
            <h4>აღსანიშნავია რომ:</h4>
            <p>თქვენც გიჭამიათ წიწილა (ან სხვა ცხოველი) ამიტომ კრეგის მიმართ ნეგატივი არ მიიღება</p>
        </div>

    {% elif pet == "rosha"%}
        <div class="jumbotron">
            <div align="center">
                <h1>როშა</h1>
                <img src="../static/Rosha_2.jpg" style="border: solid">
                <p>ოჯახში არავის გვიყვარს, ამიტომ შედარებით ნორმალური ფოტო არ მომეპოვება</p>
            </div>
            <h4>ჰობი:</h4>
            <ul>
                <li>სიბოროტე</li>
                <li>დილის 7-დან წივილი</li>
                <li>ფეხსაცმელში და ხასიათში ჩაჯმა</li>
                <li>მოულოდნელი შემოტევა</li>
                <li>პირადი სივრცის არ დაცვა (ტუალეტში)</li>
            </ul>
            <h4>განსაკუთრებული ნიჭი:</h4>
            <p>ფრენის ნაცვლად იატაკზე ნარუტო რანი</p>
            <h4>აღსანიშნავია რომ:</h4>
            <p>სტუმარი რომელსაც ფანჯარა "შემთხვევით" ღია დარჩება ექსტრა ნამცხვრით დაბრუნდება სახლში</p>
        </div>
    {% endif %}
</div>
{% endblock %}