{% extends "base.html" %}
{% block content %}

<div class="container" style="margin-top: 40px;padding: 30px; background-color: rgb(250, 252, 252);" >
    <h1>წიგნების ჩამონათვალი </h1>

    <table class="table" style="margin-top: 30px;">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">სახელწოდება</th>
            <th scope="col">ავტორი</th>
            <th scope="col">აღწერა</th>
          </tr>
        </thead>
        <tbody>
          
            {% for book in books %}
            <tr>
            <th scope="row">{{ book.id }}</th>
            <td> {{ book.title}}</td>
            <td> {{ book.autor}}</td>
            <td> {{ book.description}}</td>
        </tr>
            {% endfor %}
          
        </tbody>
      </table>
</div>

{% endblock %}