{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1>რეგისტრაცია</h1>
    <p>გთხოვთ შეავსოთ სარეგისტრაციო ფორმა</p>

    <form action="{{url_for('success')}}">

        <label for="first_name">სახელი: </label>
        <input type="text" name="first_name" class="form-control">

        <label for="last_name">გვარი: </label>
        <input type="text" name="last_name" class="form-control">

        <input type="submit" value="რეგისტრაცია" class="btn btn-dark">
    </form>

</div>

{% endblock %}
