{% extends "home.html" %}
{% block content %}

<form action="{{url_for('success')}}">
    <div class="container">
      <h1>Register</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
        
      <label for="first_name"><b>Name</b></label>
      <input type="text" placeholder="Enter Name" name="first_name" id="first_name" required>

      <label for="last_name"><b>Surname</b></label>
      <input type="text" placeholder="Enter Surname" name="last_name" id="last_name" required>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
  
      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
      
      <button type="submit" class="btn btn-dark">Register</button>
      
    </div>
</form>

{% endblock %}