<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DefenseInAD</title>
</head>
<body>
    <div class="jumbotron" >
        <h1>Hi There Dark lover</h1><hr>
        <h3>How are you {{name}}</h3>
        <h4>If you are as confused as us, then look at this list</h4>
        <ul> <Legend><strong>Dark characters</strong></Legend>
            {% for item in my_list %}
            <li>{{item}} </li>
            <ul>
                {% for person in item %}
                {% if person=="Jonas" or person=="Martha" or person=="Hanno" %}
                <li><strong>{{person}}</strong></li>
                {% else %}
                <li>
                    {{person}}
                </li>
                {% endif%}
                {% endfor %}
            </ul>
            {% endfor %}
        </ul>
    </div>
</body>
</html>