{% extends "base.html" %}
{% block content %}
<h1>Hello World!</h1>
<div class="jumbotron">
    <H1>Georgian Generals</H1>
    <div class="row">
      <div class="card" style="width: 18rem;">
        <img src="static/სურათები/valikojugeli.jpg" class="card-img-top" alt="Valiko Jugeli" style="width: 290px;height:300px;">
         <div class="card-body">
            <h5 class="card-title">Valiko Jugeli</h5>
            <p class="card-text"> Georgian politician and military commander.</p>
             <hr/>
             <H4>Skills</H4>
             <ul>
                 <li>Attack - 3</li>
                 <li>Defence - 4</li>
                 <li>Planning - 3</li>
                 <li>Logistics - 3</li>
             </ul>
            <a href="https://en.wikipedia.org/wiki/Valiko_Jugheli" class="btn btn-primary">Wiki Link</a>
         </div>
      </div>
      <div class="card" style="width: 18rem;">
         <img src="{{url_for('static', filename = 'სურათები/Giorgi Kvinitadze.jpg')}}" class="card-img-top" alt="Giorgi Kvinitadze" style="width: 290px;height:300px;">
         <div class="card-body">
            <h5 class="card-title">Giorgi Kvinitadze</h5>
            <p class="card-text">  Georgian military commander who rose from an officer in the Imperial Russian army to commander-in-chief of the Democratic Republic of Georgia.</p>
            <hr/>
             <H4>Skills</H4>
             <ul>
                 <li>Attack - 3</li>
                 <li>Defence - 6</li>
                 <li>Planning - 4</li>
                 <li>Logistics - 5</li>
             </ul>
             <a href="https://en.wikipedia.org/wiki/Giorgi_Kvinitadze" class="btn btn-primary">Wiki Link</a>
         </div>
      </div>
         <div class="card" style="width: 18rem;">
        <img src="static/სურათები/Kote-Apkazi_1916.jpg" class="card-img-top" alt="Kote Apkhazi" style="width: 290px;height:300px;">
         <div class="card-body">
            <h5 class="card-title">Kote Apkhazi</h5>
            <p class="card-text"> Georgian military officer, politician and public figure. Leader of the liberal nobility of Georgia.</p>
             <hr/>
             <H4>Skills</H4>
             <ul>
                 <li>Attack - 3</li>
                 <li>Defence - 4</li>
                 <li>Planning - 5</li>
                 <li>Logistics - 6</li>
             </ul>
            <a href="https://en.wikipedia.org/wiki/Kote_Abkhazi" class="btn btn-primary">Wiki Link</a>
         </div>
      </div>
        <div class="card" style="width: 18rem;">
        <img src="static/სურათები/G._Mazniashvili.jpg" class="card-img-top" alt="Giorgi Mazniashvili" style="width: 290px;height:300px;">
         <div class="card-body">
            <h5 class="card-title">Giorgi Mazniashvili</h5>
            <p class="card-text">  Georgian general and one of the most prominent military figures in the Democratic Republic of Georgia.</p>
            <hr/>
             <H4>Skills</H4>
             <ul>
                 <li>Attack - 6</li>
                 <li>Defence - 4</li>
                 <li>Planning - 5</li>
                 <li>Logistics - 3</li>
             </ul>
             <a href="https://en.wikipedia.org/wiki/Giorgi_Mazniashvili" class="btn btn-primary">Choose</a>
         </div>
      </div>
    </div>
</div>

{% endblock %}